
        body {
            width: 100vw;
            height: 100vh;
            cursor: url(/img/番外蛋中号.ico), auto;
        }
*,        
a:hover,
a:link,
a:visited,
a:active,
a:focus {
            cursor: url(/img/番外蛋中号.ico), pointer;
        }